
.imgageni
{
    width: 1340px;
    height: 500px;


}
body
{
background-color: black
}
p
{
color: darkred
}
header
{
    background-color: #ff000066;
    height: 530px;
    width: 1341px;
}
a
{
color: chocolate
}
.inicio
{
  
    width: 1341px;
    height: 38px;
}

