.inicio
{
    background-color: #ff000066;
    width: 1341px;
    height: 38px;
}
body
{
 background-color: black
    
}
a
{
color: chocolate
}
p
{
color: chocolate
}
label
{
    color: chocolate
}
p
{
color: chocolate
}
h1
{
color: chocolate
}

